pipeline/VariablePipeline.json
{
	"name": "VariablePipeline",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Files",
					"value": [
						"2019",
						"2020",
						"2021"
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.LoadAllFiles",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable3",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ListOfFiles",
								"value": "FalseFiles"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ListOfFiles",
								"value": "TrueFiles"
							}
						}
					]
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FinalVar",
					"value": {
						"value": "@concat(variables('ListOfFiles'),'Test')\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"LoadAllFiles": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"Files": {
				"type": "Array"
			},
			"ListOfFiles": {
				"type": "String"
			},
			"FinalVar": {
				"type": "String"
			}
		},
		"annotations": []
	}
}